<% if current_user %>
  <a href="/listings/new" class="btn btn-default">Create Listing</a>
<% end %>
<br>
<br>
<% if flash.has?(:notice) %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Current Listings</div>
  
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Current Price</th>
          <th>Ending At</th>
        </tr>
      </thead>
      <% @listings.each do |listing| %>
        <tr>
          <td><a href="/listings/<%= listing.id %>"><%= listing.title %></a></td>
          <td><%= format_amount(listing.current_price) %></td>
          <td><%= format_time(listing.end_time) %></td>
        </tr>
      <% end %>
    </table>
  </div>