<h3><%= @listing.title %></h3>
<p>
  <% if @listing.latest_bid %>
  Current Bid: <%= @listing.latest_bid.amount %>
  <% else %>
  Starting Bid: <%= @listing.starting_bid %>
  <% end %>
</p>
<p><img class="listing_image" src="<%= @listing.image_url %>" alt="listing image"></p>
<br>
<br>
<% if current_user && current_user != @listing.user %>
<form action="/listings/<%= @listing.id %>/add_bid" method="post">
  <label>
    Bid amount: <input type="text" name="bid_amount">
    <input type="submit" value="Place Bid">
  </label>
</form>

<% end %>
<% if current_user && current_user.listings.include?(@listing) %>
  <div>
    <a href="/listings/<%= @listing.id %>/edit">Edit Listing</a>
    <form action="/listings/<%= @listing.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Remove Listing">
    </form>
  </div>
<% end %>
</br>
</br>
