<h3><%= @listing.title %></h3>
<div class="well">
  <% if @listing.over? %>
    <p>
      Ended at: <%= format_time(@listing.end_time) %>
    </p>
    <% if @listing.latest_bid %>
      <p>
        Won by <%= @listing.latest_bid.user.username %> for <%= format_amount(@listing.current_price) %>
      </p>
    <% end %>
  <% else %>
    <p>
      Ending at: <%= format_time(@listing.end_time) %>
    </p>
    <% if @listing.latest_bid %>
    <p>
      Current Bid: <%= format_amount(@listing.latest_bid.amount) %>
    </p>
    <p>
      High Bidder: <%= @listing.latest_bid.user.username %>
    </p>
    <% else %>
    <p>
      Starting Bid: <%= format_amount(@listing.starting_bid) %>
    </p>
    <% end %>
  <% end %>
</div>
<% if @listing.image_url.present? %>
  <p><img class="listing_image" src="<%= @listing.image_url %>" alt="listing image"></p>
<% end %>
<br>
<br>
<p>
  <%= @listing.description %>
</p>
<% if current_user && current_user != @listing.user %>
<form action="/listings/<%= @listing.id %>/add_bid" method="post">
  <label>
    Bid amount: <input type="text" name="bid_amount">
    <input type="submit" value="Place Bid" class="btn btn-default">
  </label>
</form>

<% end %>
<% if current_user && current_user.listings.include?(@listing) %>
  <div>
    <form action="/listings/<%= @listing.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <div class="btn-group">
        <a href="/listings/<%= @listing.id %>/edit" class="btn btn-default">Edit Listing</a>
        <input type="submit" value="Remove Listing" class="btn btn-danger">
      </div>
    </form>
  </div>
<% end %>
</br>
</br>


